/* body {
    background-color: lightblue;
  } */
  
  nav{
    margin-top: 0px;
  }

  .nav-link{
    display: inline-block;
}

.card .card-img-top{
  height: 15vh;
  width: 15vw;
}
.btn.btn-primary.btn-lg.btn-block{
 margin: 0px; 

}



/* #pink{
margin-top: 20px;
}

#AF1{
  margin-top: 0px;
}

#velvet{
  margin-top: 20px;
} */

 .text-above{
  text-align: center;
  color: white;
  margin-bottom: 50px;
  margin-top: 150px;
}
.mb-3{
  position: relative;
  max-width: 700px;
  ;
  
}


  
.btn{
  padding-left: 300px;
  padding-right: 300px;
  margin: 0 auto;
  display: block;
  
}

.text p{
  float: right;
 
}

.text-content{
  margin-top: 40px;
}
  
.placeorder{
  text-align: center;
}